* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg");
    width: '1440';
    height: '560';
}

.container-fluid {
    background-color: #9e6213;
    color: black;
    text-align: center;
    padding: 5px;
}

li {
    background-color: aquamarine;
    color: black;
    gap: 5px;
}

.container {
    background-color: #00ffb3;
    color: black;
    text-align: center;
    align-items: center;
}

.navbar-brand {
    font-size: 3rem;
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}

.nav-link:hover {
    color: black;
}

.nav {
    background-color: aquamarine;
    color: black;
    height: 100vh;
    width: 100%;
}

.nav h1 {
    font-size: 3rem;
    font-weight: 600;
}

.card {
    background-color: aqua;
    color: black;
    padding: 10px;
    border: 2px solid black;
}